.articleContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  padding: 2%;
}

@media screen and (min-width: 730px) {
  .articleContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}


@media screen and (min-width: 900px) {
  .articleContainer {
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  margin: auto;
}
}

